*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    color: var(--primary-color);
}

:root {
    --bg-nav-color: #1367d5;
    --bg-primary-color: #fdfdfd;
    --bg-secondary-color: #ededed;
    --primary-color: #7d7d7d;
}

.rootActive {
    --bg-nav-color: #000000;
    --bg-primary-color: #000000;
    --bg-secondary-color: #0a0a0a;
    --primary-color: #7d7d7d;
}

body {
    background: var(--bg-secondary-color);
    transition: background .5s ease-in-out;
}

/* common */
.higlight {
    color: #1474ee;
    cursor: pointer;
}

::-webkit-scrollbar {
    background: rgb(227, 228, 231);
    width: 10px;
    border-radius: 10px;
}

::-webkit-scrollbar-track {
    background: rgb(231, 231, 231);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #FC466B;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #3F5EFB, #f5c2cc4d);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #3F5EFB, #f5c2cc3a);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    border-radius: 10px;
    border-top: 1px solid rgb(241, 41, 27);
}

/* NavBar */
nav {
    background: var(--bg-nav-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3px 75px;
    position: sticky;
    top: 0;
    z-index: 100;
}

.nav-left,
.nav-right {
    display: flex;
    flex: 1;
    align-items: center;
}

.logo img {
    width: 150px;
    margin-right: 50px;
}

.nav-icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-icons img {
    display: inline-block;
    width: 25px;
    margin-right: 25px;
}

.search {
    margin-left: auto;
}

.nav-profile {
    width: 40px;
    aspect-ratio: 1;
    position: relative;
    cursor: pointer;
}

.nav-profile img {
    width: 100%;
    border-radius: 50%;
    aspect-ratio: 1;
}

.online::after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 0;
    right: 5px;
    width: 9px;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: #08cf08;
}

.search {
    position: relative;
    margin-right: 35px;
}

.search img {
    left: 15px;
    top: 50%;
    position: absolute;
    width: 25px;
    transform: translateY(-50%);
}

.search input {
    padding: 10px 20px 10px 50px;
    border: none;
    border-radius: 50px;
    font-size: 16px;
    width: 350px;
    outline: 1px solid white;
}

/* Container */
.container {
    display: flex;
    justify-content: space-between;
    width: min(100%, 1200px);
    margin: 15px auto;
}

.con-left,
.con-right {
    max-height: calc(100vh - 80px);
    width: 22%;
    overflow-y: auto;
    position: sticky;
    top: 74px;
    padding-left: 15px;
}

.con-main {
    flex: 1;
}

/* Container Left */
.letest {
    display: flex;
    align-items: center;
}

.letest:not(:last-child) {
    margin-bottom: 20px;
}

.letest img {
    width: 30px;
    margin-right: 20px;
}

.con-lefTop a:has(p) {
    text-decoration: none;
}

.con-lefTop hr {
    margin-top: 15px;
    border: none;
    border-top: 1px solid #c7c2c2;
}

/* Container Left-Bottom */
.con-lefBottom {
    margin-top: 15px;
}

.heading-secondery {
    margin-bottom: 15px;
    font-weight: 500;
}

.shortcut-item {
    display: flex;
    align-items: center;
}

.shortcut-item:not(:last-child) {
    margin-bottom: 15px;
}

.shortcut-item img {
    width: 40px;
    border-radius: 8px;
    margin-right: 15px;
}

/* Container Right */
.con-right {
    background: var(--bg-primary-color);
    padding: 15px 12px;
}

.subHeading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;
}

.event-detail {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
}

.date {
    border-radius: 11px;
    box-shadow: 0 0 11px rgba(0, 0, 0, 0.2);
    margin-right: 15px;
    text-align: center;
    overflow: hidden;
}

.date-num {
    padding: 8px 14px;
    font-weight: bolder;
}

.date-mon {
    background: #1474ee;
    color: white;
    padding: 3px 0;
    font-size: 10px;
}

.eventDescription p {
    margin: 4px auto;
    font-size: 13px;
}

/* advertisement */
.advertisement {
    margin-top: 22px;
}

.advertisement img {
    width: 100%;
    border-radius: 8px;
}

.conversation {
    margin-top: 20px;
}

.convertation-item {
    display: flex;
    align-items: center;
    margin-bottom: 11px;
}

.convertation-item div {
    position: relative;
    width: 32px;
    aspect-ratio: 1;
    border-radius: 50%;
}

.convertation-item div::after {
    top: unset;
    bottom: 5px;
    left: unset;
    right: -1px;
}

.convertation-item p {
    font-weight: 12px;
    margin-left: 13px;
}

.convertation-item div img {
    width: 100%;
    aspect-ratio: 1;
    border-radius: 50%;
}

/* story */
.con-main {
    margin: 0 15px;
}

.story {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}

.story-item {
    position: relative;
    flex: 1;
    aspect-ratio: 1/2;
    background-image: url("/images/status-1.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 15px;
}

.story-item:nth-child(2) {
    background-image: url("/images/status-2.png");
}

.story-item:nth-child(3) {
    background-image: url("/images/status-3.png");
}

.story-item:nth-child(4) {
    background-image: url("/images/status-4.png");
}

.story-item:nth-child(5) {
    background-image: url("/images/status-5.png");
}

.story-item img {
    width: 40px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 4px solid #1367d5;
    position: absolute;
    top: 5%;
    left: 10%;
}

.story-item .status1 {
    top: 60%;
    left: 50%;
    transform: translateX(-50%);
}

.story-item p {
    color: white;
    position: absolute;
    bottom: 5%;
    width: 100%;
    text-align: center;
}

/* Details */
.details {
    background: var(--bg-primary-color);
    border-radius: 12px;
    padding: 8px 20px 8px 50px;
    margin: 12px auto;
    position: relative;
}

.detail-profile {
    position: absolute;
    top: 4%;
    left: 1%;
    width: 35px;
    aspect-ratio: 1;
    border-radius: 50%;
}

.details h4 {
    font-weight: 500;
}

.details small,
.details textarea {
    display: block;
}

.details small span {
    font-size: 10px;
}

.details textarea {
    outline: none;
    margin-top: 25px;
    resize: none;
    border: none;
    border-bottom: 1px solid rgb(211, 208, 208);
    width: 100%;
    margin-bottom: 15px;
    background: transparent;
}

.detailImg,
.detail-img {
    display: flex;
    align-items: center;
}

.detail-img {
    margin-right: 19px;
    cursor: pointer;
}

.detail-img img {
    width: 20px;
    margin-right: 8px;

}

/* upload */
.upload-item {
    background: var(--bg-primary-color);
    border-radius: 12px;
    padding: 20px;
    margin-bottom: 15px;
}

.upload-profile,
.upl-left {
    display: flex;
    align-items: center;
}

.upload-profile {
    justify-content: space-between;
}

.upl-left img {
    width: 35px;
    aspect-ratio: 1;
    border-radius: 50%;
    margin-right: 12px;
}

.upl-name h4 {
    font-weight: 500;
    margin-bottom: 5px;
}

.upl-name p {
    font-size: 14px;
}

.upl-right img {
    transform: rotate(90deg);
    width: 15px;
}

.upl-description {
    margin: 15px auto;
}

.upl-description+img {
    width: 100%;
    border-radius: 3px;
    margin-bottom: 15px;
}

.likes {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.likes-right,
.like,
.likes-left {
    display: flex;
    align-items: center;
}

.likes-right img {
    width: 20px;
    aspect-ratio: 1;
    border-radius: 50%;
    margin-right: 5px;
}

.like {
    margin-right: 15px;
}

.like img {
    width: 20px;
    cursor: pointer;
}

.like p {
    font-size: 15px;
    margin-left: 8px;
}

/* modal */
.modal {
    position: fixed;
    top: 53px;
    right: 53px;
    background: var(--bg-primary-color);
    padding: 18px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transform: translateY(-200%);
    transition: transform 0.5s cubic-bezier(0.37, -0.36, 0.54, 1.48);
}

.modalActive {
    transform: translateY(0%);
}

.info {
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgb(201, 196, 196);
    margin-bottom: 12px;
    padding-bottom: 12px;
}

.info img {
    width: 45px;
    aspect-ratio: 1;
    border-radius: 50%;
    margin-right: 11px;
}

.info-detail h4 {
    font-weight: 500;
}

.info-detail small {
    font-size: 13px;
}


.tools {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 12px;
}

.tool-left {
    display: flex;
    align-items: center;
}

.tool-left img {
    width: 35px;
    margin-right: 12px;
}

.tool-left h4 {
    font-size: 15px;
    font-weight: 500;
}

.tools img[alt="arrow"] {
    width: 8px;
    cursor: pointer;
}

.toggle {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 50px;
    height: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    background: var(--bg-primary-color);
    border-radius: 50px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.toggle:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.circle {
    position: absolute;
    left: 2px;
    height: 80%;
    aspect-ratio: 1;
    background-color: rgb(233, 214, 214);
    border-radius: 50%;
    box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.2);
    transition: left .4s cubic-bezier(0.35, -0.43, 0.47, 1.86);
}

.active {
    background: #ffffff;
    box-shadow: 1px 1px 13px rgb(247 246 246 / 92%);
}


.active .circle {
    left: 30px;
    background-color: rgb(255, 253, 253);
}

/* footer */
footer {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media only screen and (max-width:1012px) {

    .con-left,
    .con-right {
        width: 30%;
    }

    .story-item .status1 {
        top: 7%;
        left: 24%;
    }

    .detail-img img {
        width: 10px;
        margin-right: 5px;
    }

    .detail-img span {
        font-size: 12px;
    }

    .detail-img {
        margin-right: 9px;
    }

    .story-item img {
        width: 20px;
    }

    .story-item p {
        font-size: 12px;
    }
}

@media only screen and (max-width:921px) {

    .con-left,
    .con-right {
        width: 30%;
    }

    .con-main {
        flex: 0;
        width: 40%;
    }

    .search input {
        width: auto;
    }

    nav {
        padding: 3px 36px;
    }

    .nav-right {
        text-align: right;
    }

    .search {
        margin-right: 12px;
    }

    .detailImg {
        flex-direction: column;
        gap: 9px;
        align-items: self-start;
    }

    .detail-profile {
        left: 3%;
    }
}

@media only screen and (max-width:728px) {

    .con-left,
    .con-right {
        display: none;
    }

    .con-main {
        flex: 1;
    }

    .detailImg {
        flex-direction: row;
    }

    nav {
        flex-direction: column;
    }

    .nav-left {
        margin-bottom: 15px;
    }

    .modal {
        top: 116px;
        right: 9px;
    }

    footer {
        padding: 20px;
    }
}

@media only screen and (max-width:450px) {
    .logo img {
        width: 133px;
        margin-right: 18px;
    }

    .search input {
        padding: 7px 13px 8px 50px;
        width: 200px;
    }

    .nav-icons img {
        width: 15px;
        margin-right: 10px;
    }

    .detailImg {
        flex-direction: column;
    }
}